.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.button-ios {
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 600;
    width: 250px;
    font-size: 1rem;
    color: #FFF;
    border: none;
    background-color: hsl(171, 66%, 44%);
    padding: 18px 0;
    border-radius: 35px;
    box-shadow: 0 3px hsl(171, 66%, 36%);
}

.button-ios:hover {
    background-color: #5ccdbb;
    cursor: pointer;
}

.button-mac {
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 600;
    width: 250px;
    font-size: 1rem;
    color: #FFF;
    border: none;
    background-color: hsl(233, 100%, 69%);
    padding: 18px 0;
    border-radius: 35px;
    box-shadow: 0 3px hsl(233, 100%, 61%);
}

.button-mac:hover {
    background-color: #8897fe;
    cursor: pointer;
}

@media screen and (max-width: 376px) {

    .button-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0;
    }

    .button-ios {
        font-family: 'Bai Jamjuree', sans-serif;
        font-weight: 600;
        width: 335px;
        font-size: 1rem;
        color: #FFF;
        border: none;
        background-color: hsl(171, 66%, 44%);
        padding: 18px 0;
        margin-bottom: 8%;
        border-radius: 35px;
        box-shadow: 0 3px hsl(171, 66%, 36%);
    }

    .button-mac {
        font-family: 'Bai Jamjuree', sans-serif;
        font-weight: 600;
        width: 335px;
        font-size: 1rem;
        color: #FFF;
        border: none;
        background-color: hsl(233, 100%, 69%);
        padding: 18px 0;
        margin-bottom: 8%;
        border-radius: 35px;
        box-shadow: 0 3px hsl(233, 100%, 61%);
    }
}